<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#fffff0">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}Planet{% endblock %}</title>
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon-180.png" sizes="180x180" type="image/png">
  <link rel="icon" type="image/png" href="/assets/icon-192.png" sizes="192x192">
  <link rel="preconnect" href="https://opensource.planetable.xyz/" crossorigin>
  <link rel="dns-prefetch" href="https://opensource.planetable.xyz/">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
  <link rel="stylesheet" href="/assets/style.css?r=20220603">
  <link rel="alternate" type="application/rss+xml" href="https://planetable.eth.limo/rss.xml">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.planetable.xyz/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Planetable">
  <meta property="og:description" content="Planet is a free and open source tool for publishing and following web content. It doesn't rely on a central server or service, and instead uses IPFS for peer-to-peer content distribution. You can also link your content to an Ethereum Name (e.g. yourname.eth) so that others can follow you on Planet using your .eth name. Since both IPFS and ENS are decentralized, you can use Planet to build and follow websites in a decentralized way.">
  <meta property="og:image" content="https://www.planetable.xyz/assets/planetable-logo-light.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="planetable-git-fork-fledgexu-graph-v2ex.vercel.app">
  <meta property="twitter:url" content="https://www.planetable.xyz/">
  <meta name="twitter:title" content="Planetable">
  <meta name="twitter:description" content="Planet is a free and open source tool for publishing and following web content. It doesn't rely on a central server or service, and instead uses IPFS for peer-to-peer content distribution. You can also link your content to an Ethereum Name (e.g. yourname.eth) so that others can follow you on Planet using your .eth name. Since both IPFS and ENS are decentralized, you can use Planet to build and follow websites in a decentralized way.">
  <meta name="twitter:image" content="https://www.planetable.xyz/assets/planetable-logo-light.png">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js" integrity="sha512-HX+/SvM7094YZEKOCtG9EyjRYvK8dKlFhdYAnVCGNxMkA59BZNSZTZrqdDlLXp0O6/NjDb1uKnmutUeuzHb3iQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer data-domain="planetable.xyz" src="https://plausible.io/js/plausible.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="wrapper">
  <div id="app">
    <div id="sidebar">
      <div class="sidebar-inner">
        <div class="logo"></div>
        <div class="logo-name">Planet</div>
      </div>
    </div>
    <div id="main">
      {% include 'nav.html' %}
      <div class="main-inner">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% block bottom %}
{% endblock %}
</body>
</html>
