{% extends 'base.html' %}
{% block head %}
<script>
const appcastURL = "https://opensource.planetable.xyz/planet/appcast.xml?r=" + Math.random();
const fallbackDownloadURL = "https://opensource.planetable.xyz/planet/release-0.9.2/Planet.zip";
window.addEventListener('DOMContentLoaded', (event) => {
  document.querySelector('.download-button').href = fallbackDownloadURL;
  axios.get(appcastURL)
  .then(response => {
    const x2js = new X2JS();
    const appcast = x2js.xml_str2json(response.data);

    const download = {
      latestVersion: appcast.rss.channel.item.title,
      latestBuildNumber: appcast.rss.channel.item.version.__text,
      releaseDate: new Date(appcast.rss.channel.item.pubDate),
      url: appcast.rss.channel.item.enclosure._url,
    };

    document.querySelector('.latest-version').textContent = `The latest version: ${download.latestVersion} (${download.latestBuildNumber})`;
    // use `MMM dd, YYYY` date format, remove day of week
    const dateSegments = download.releaseDate.toDateString().split(' ');
    const releaseDateString = `${dateSegments[1]} ${dateSegments[2]}, ${dateSegments[3]}`;
    document.querySelector('.release-date').textContent = `Released on ${releaseDateString}`;
    document.querySelector('.download-button').href = download.url;

    console.log("Planet latest version is " + download.latestVersion + " (" + download.latestBuildNumber + ") released on " + download.releaseDate);
    console.log("Download URL is " + download.url);
  })
  .catch(error => console.log(error));
});
</script>
{% endblock %}
{% block main %}
<div class="markdown-content">
<p>
Planet is a free and open source tool for publishing and following web content. It doesn't rely on a central server or service, and instead uses IPFS for peer-to-peer content distribution. You can also link your content to an Ethereum Name (e.g. yourname.eth) so that others can follow you on Planet using your .eth name. Since both <a href="https://ipfs.io/" target="_blank">IPFS</a> and <a href="https://ens.domains/" target="_blank">ENS</a> are decentralized, you can use Planet to build and follow websites in a decentralized way.
</p>
<div class="section">
  <div class="action-wrapper">
    <a class="download-button" href="https://opensource.planetable.xyz/planet/release-0.9.2/Planet.zip">Download for Mac</a>
    <span class="latest-version">The latest version</span>
    <span class="release-date">Released on</span>
  </div>
</div>
<h2>Getting Started</h2>

<p>Did you know that you can use an Ethereum Name (ENS) to set up a website? It's true! You can use the Content Hash field, just like you would use an A or CNAME record for a traditional domain name. The standard for this is EIP-1577, and the Content Hash field can accept a few different values. For example, you can use IPFS, which is another decentralized content distribution technology. In fact, the website at <a href="https://vitalik.eth.limo/" target="_blank">vitalik.eth</a> is already using IPFS to host its content.</p>

<figure>
  <img src="./assets/vitalik-eth.png" alt="vitalik.eth" class="screenshot" />
  <figcaption>Follow the updates from vitalik.eth with Planet</figcaption>
</figure>

<p>After you create a website with Planet, you can easily share it with others by copying its IPNS address. To do this, simply right-click on the item in the sidebar and choose "Copy IPNS." This will copy an IPNS address that looks something like this:</p>

<p><code>k51qzi5uqu5dgv8kzl1anc0m74n6t9ffdjnypdh846ct5wgpljc7rulynxa74a</code></p>

<p>You can then paste this IPNS address into your ENS ContentHash like this:</p>

<figure>
  <img src="./assets/set-content-hash.png" alt="Set Content Hash" class="screenshot" />
  <figcaption>Set Content Hash for Your ENS</figcaption>
</figure>

<p>Remember to include <code>ipns://</code> in front of the string. You've successfully set up a decentralized website using ENS and IPFS.</p>

<h2>Open Source</h2>

<p><a href="https://github.com/Planetable/Planet" target="_blank">Planet</a> is licensed under the MIT license.</p>
</div>
{% endblock %}